<%= render_breadcrumbs %>

<div id='navigatable-nav'>
  <%= render_navigatable_nav(@prev, '&laquo;', lambda {|i| edit_project_team_path(i.project, i) }, :name) %>
  <%= render_navigatable_nav(@next, '&raquo;', lambda {|i| edit_project_team_path(i.project, i) }, :name) %>  
</div>

<div class='team-image'>
  <% if @team.has_image? %>
    <img src='<%= @team.file.url(:large) %>'>
  <% else %>
    Drop Image here
  <% end %>
  
  <form>
    <input class='fileupload' type='file' name='files' data-reload=true data-dropzone='.team-image' data-method='PUT' data-url='<%= project_team_path(@team.project, @team) %>'>
  </form>
  
</div>

<h1><%= @team.name %></h1>



<table class='system'>
  <thead>
    <th></th>
    <th>Mitglied</th>
    <th>Rolle</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%= form_for(@team_membership) do |f| %>
      <input type='hidden' name='team_membership[team_id]' value='<%= @team.id %>'>
      <tr>
        <td></td>
        <td><%= f.collection_select :member_id, Member.active, :id, :full_name, include_blank: true %></td>
        <td><%= f.text_field :role %></td>
        <td><%= f.submit %></td>
      </tr>
    <% end %>
    <% @team.team_memberships.each do |team_membership| %>
      <input class='fileupload' type='file' name='files' data-reload=true data-dropzone='#team-membership-<%= team_membership.id %>' data-method='PUT' data-url='<%= team_membership_path(team_membership) %>'>
      
      <tr >
        <td>
          <% if team_membership.has_image? %>
            <img src='<%= team_membership.file.url(:square) %>' >
          <% end %>
        </td>
        <td id='team-membership-<%= team_membership.id %>'><%= team_membership.member.try :full_name %></td>
        <td><%= team_membership.role %></td>
        <td>
          <%= link_to 'Bearbeiten', edit_team_membership_path(team_membership) %>,
          <%= link_to 'Löschen', team_membership, method: :delete, confirm: 'Sicher?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Team löschen', project_team_path(@team.project, @team), method: :delete, confirm: 'Team wirklich löschen?', class: 'btn btn-danger' %>