<%= render_breadcrumbs %>

<div id='navigatable-nav'>
  <%= render_navigatable_nav(@previous, '&laquo;', lambda {|i| intern_group_path(i) }, :name) %>
  <%= render_navigatable_nav(@next, '&raquo;', lambda {|i| intern_group_path(i) }, :name) %>
</div>


<h1><%= @group.name %>
  <div class='subtitle'><%= @group.description %></div>
</h1>



<%= render 'pages/show', page: @group.page %>


<% content_for :actions do %>
  <%= navigation_link_to 'Gruppe verwalten', edit_intern_group_path(@group) if can?(:update, @group) %>
  <%= navigation_link_to 'Gruppenseite bearbeiten', edit_page_path(@group.page) if can?(:update, @group.page) %>
<% end %>
