<div class='ui piled segment', style = "z-index: 4; margin: 0px;">
  <h2 class = "ui header">Registrieren</h2>
  <h3 class = "ui header">Hallo liebes JTM-Mitglied</h3>
  <p>
    Da du dich hier registrieren willst, gehe ich davon aus, dass du ein Mitglied im Jugendtheater Martinszell bist. Denn nur Mitglieder können sich hier registrieren!
  </p>
  <p>
    <strong>Und so gehts:</strong>
    <ul>
      <li>Benutzername eingeben (das ist der Teil for dem @ in deiner existierenden JTM E-Mail Adresse)</li>
      <li>Passwort und Passwort-Bestätigung eingeben</li>
      <li>auf 'Registrieren' klicken</li>
      <li>Jetzt bekommst du eine E-Mail an deine bei uns hinterlegte E-Mail Adresse geschickt</li>
      <li>In der E-Mail befindet sich ein Link den du zur Bestätigung anklicken musst</li>
      <li>FERTIG!</li>
    </ul>
  </p>
  <p>
    Solltest du Fragen haben, oder sollten Probleme bei einem der oben genannten Schritte auftreten, schreib einfach eine E-Mail an <a href='mailto:webmaster@jtm.de'>webmaster@jtm.de</a> - ein Mitglied aus unserem Website-Team wird sich dann darum kümmern!
  </p>
  <p>
    Viel Spaß wünscht euch das JTM Website-Team
  </p>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


  <% unless resource.errors.empty? %>
    <div class = "ui warning message">
      <h2>Es sind Fehler aufgetreten!</h2>
      <ul>
        <% if resource.errors[:member].present? %>
          <li>Wir konnten kein Mitglied mit dieser E-Mail Adresse in unserer Datenbank finden</li>
        <% end %>

        <% if resource.errors[:password].present? %>
          <%= resource.errors[:password].map{|m| "<li>Passwort #{m}</li>"}.join.html_safe %>
        <% end %>

      </ul>
    </div>
  <% end %>



  <table class='form devise-form'>
    <form class="ui large form">
      <div id="create_container" class="ui stacked segment">
        <div class="field">
          <div id="username_create" class='ui right labeled left icon input'>
            <i class="user icon"></i>
            <%= f.text_field :username, :autofocus => true, :placeholder => "Benutzername" %>
            <span class='ui basic label'>@jtm.de</span>
          </div>
        </div>

        <div class="field">
          <div id="password_create" class='ui left icon input'>
            <%= f.password_field :password, placeholder: 'Passwort: mindestens 4 Zeichen lang' %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <div id="password_confirm" class='ui left icon input'>
            <%= f.password_field :password_confirmation, placeholder: 'Passwort Bestätigung' %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div id="submit_button_create" class="submit_button"><%= f.submit "Registrieren", class: 'ui green button' %></div>
      </div>
    </form>
  </table>
<% end %>

<div class=''>
  <%= render "devise/shared/links" %>
</div>
