
%ul.tabs
  %li
    %a{href: '#data'} Daten
  %li
    %a{href: '#gruppen'}= "Gruppen (#{@member.group_memberships.count})"
  %li
    %a{href: '#spezial'}= "Spezial Aktionen"


= form_for([:intern, @member]) do |f|  
  .tab-content
    - unless @member.new_record?
      #spezial
        %h2 Mitglied ist ausgetreten
        Wenn ein Mitglied austritt passiert folgendes:
        %ul
          %li Status wird auf 'inaktiv' gesetzt
          %li Alle Gruppen-Mitgliedschaften werden gelöscht
          %li Benutzer-Konto für www.jtm.de wird gelöscht
          %li Interne E-Mail Adresse wird gelöscht
  
        %p
          Die Mitglieder-Daten bestehen weiterhin in der Datenbank, hauptsächlich wegen der Auflistungen für Projekt-Darsteller und Projekt-Teams
  
        %p
          Bei einem Wiedereintritt zu einem späteren Zeitpunkt kann das existierende Mitglied wieder aktiviert werden!
  
        /= link_to 'Mitglied ist ausgetreten', '', confirm: 'Bist du sicher?', class: 'btn btn-danger'
  
        %hr
        %h2 Mitglied löschen
        ACHTUNG! Diese Aktion ist unwiederruflich!
        %ul
          %li Mitglied wird komplett aus der Datenbank gelöscht
          %li Alle Verknüpfungen zu Projekten werden entfernt!
          %li Benutzer-Konto für www.jtm.de wird gelöscht
          %li Interne E-Mail Adresse wird gelöscht
  
        /= link_to 'Mitglied löschen', member_path(@member), method: :delete, confirm: 'Bist du sicher?', class: 'btn btn-danger'
  
        - if current_user.has_role?(:admin) and !@member.active
          %hr
          %h2 Mitglied verbinden
          %ul
            %li Alle Stücke werden auf gewähltes Mitglied kopiert
            %li Falls weiblich, wird der alte Nachname als 'Geburtsname' eingetragen
            %li Dieses Mitglied wird gelöscht
            
          %form
            %select{name: 'target'}
              - Member.all.each do |m|
                %option{value: m.id}
                  = m.full_name
            %input.btn.btn-danger{type: 'submit', value: 'Mitglied verbinden', name: 'connect_member'}
              
          
      
      
    #gruppen
      %table.system
        %thead
          %th Gruppe
          %th Rolle
          %th Löschen
        %tbody
          - @member.group_memberships.each do |group_membership|
            %tr
              %td= group_membership.group.try :name
              %td= group_membership.role
              %td= check_box_tag "delete_group_membership[#{group_membership.id}]"
        %tfoot
          %tr
            %td
              %select{name: 'new_group_membership[group_id]'}
                %option
                - Group.all.each do |g|
                  %option{value: g.id}= g.name
            %td= text_field_tag 'new_group_membership[role]'
            
      .actions
        = f.submit
            
    #data
      %table.form
        %tr
          %th= f.label :name
          %td= f.text_field :name 
        %tr
          %th= f.label :first_name
          %td= f.text_field :first_name
        %tr
          %th= f.label :birth_name
          %td= f.text_field :birth_name
        %tr
          %th= f.label :gender
          %td= f.collection_select :gender, [OpenStruct.new(key: 'm', value: t('gender.m')), OpenStruct.new(key: 'w', value: t('gender.w'))], :key, :value, include_blank: true
        
        %tr
          %th= f.label :birthday
          %td= f.text_field :birthday, class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd'
        %tr
          %th= f.label :member_since
          %td= f.text_field :member_since, class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd'
        %tr
          %th= f.label :school
          %td= f.text_field :school
          
      %table.form
        %tr
          %th= f.label :street
          %td= f.text_field :street

        %tr
          %th= f.label :city
          %td= f.text_field :city


        %tr
          %th= f.label :phone
          %td= f.text_field :phone
        %tr
          %th= f.label :fax
          %td= f.text_field :fax
        %tr
          %th= f.label :mobile
          %td= f.text_field :mobile
          
      %table.form
        %tr
          %th= f.label :email_extern
          %td
            = f.text_field :email_extern
            / = @member.email_extern
            / %small
            /   (Kann momentan nicht geändert werden)
        %tr
          %th= f.label :email
          %td
            = f.text_field :email
            / = @member.email
            / %small
            /   (Kann momentan nicht geändert werden)

      .actions
        = f.submit