

<%= fields_for "group_memberships[]", gms do |b| %>
  <tr>
    <td><%= check_box_tag 'selection[]', gms.id %></td>
    <td><%= gms.member.try :full_name %></td>
    <td><%= b.text_field :role %></td>
    <td><%= b.text_field :position %></td>
  </tr>
<% end %>