.portlet
  .portlet-header= "Geburtstage im #{ t('date.month_names')[month] }"
  .portlet-content
    - Member.active.with_birthday_in(month).each do |member|
      .birthday{class: birthday_style(member)}
        = l member.birthday, format: :birthday
        - if month == Time.now.month and member.birth_day == Time.now.day
          = link_to member.full_name, "mailto:#{member.email}"
        - else
          = member.full_name

        - this_year_age =  Time.now.year - member.birthday.year

        - if (this_year_age % 10) == 0 or this_year_age == 18
          = "(#{this_year_age})"


