= render_breadcrumbs

.portal


  .portlet
    .portlet-header Termine
    .portlet-content
      - Event.upcoming.each do |event|
        .event
          .event-date
            = l event.start_time
          = event.title

  = render 'birthday_portlet', month: Time.now.month
  = render 'birthday_portlet', month: Time.now.month + 1

  .portlet
    .portlet-header Deine Gruppen
    .portlet-content
      - current_user.groups.each do |group|
        .group
          %strong= group.name
          .group-actions
            = link_to 'Adressen', address_group_path(group)
            = link_to 'E-Mail schreiben', "mailto:#{u(group.emails.join(','))}"
            /= link_to 'Rundmail', '#'

