= render_breadcrumbs

#calendar

#dashboard_grid.ui.stackable.two.column.grid.container{:style => "margin-top: 0px;"}


  .column.ui.segment{:style => "margin-top: 14px;"}
    .ui.header Termine
    .portlet-content
      - Event.upcoming.each do |event|
        .event
          .event-date
            = l event.start_time
          = event.title

  = render 'birthday_portlet', month: Time.now.month
  = render 'birthday_portlet', month: Time.now.month + 1

  .column.ui.segment{:style => "margin-bottom: 14px;"}
    .ui.header Deine Gruppen
    .portlet-content
      - current_user.groups.each do |group|
        .group
          %strong= group.name
          .group-actions
            = link_to 'Adressen', address_group_path(group)
            = link_to 'E-Mail schreiben', "mailto:#{u(group.emails.join(','))}"
            /= link_to 'Rundmail', '#'
