
%h1 User bearbeiten

= form_for(@user) do |f|
  %table.system
    %tr
      %th Username
      %td= @user.username
    %tr
      %th E-Mail
      %td= @user.email
    %tr
      %th= f.label :member
      %td= f.collection_select :member_id, Member.all, :id, :full_name, include_blank: true
    %tr
      %th= f.label :roles
      %td
        - @roles.each do |role|
          = check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id)
          = t "roles.#{role.name}"
      
  .actions
    = f.submit