<%= form_for(@calendar_event) do |f| %>
  <% if @calendar_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar_event.errors.count, "error") %> prohibited this calendar_event from being saved:</h2>

      <ul>
      <% @calendar_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui piled segment" style="z-index: 3; margin-bottom: 10px; margin-top: 10px;">
    <h1>Neuer Kalendereintrag</h1>
    <div id="calendarentry_title" class="ui form">
      <div class="ui input">
        <%= f.text_field :title, :placeholder => "Titel" %>
      </div>
      <div id="calendarentry_desc" class="field">
        <%= f.text_area :description, :placeholder => "Beschreibung" %>
      </div>
    </div>
    <div class="field">
      <%= f.label "Startzeit" %><br>
      <%= f.datetime_select :start_time %>
    </div>
    <div id="calendarentry_end" class="field">
      <%= f.label "Endzeit" %><br>
      <%= f.datetime_select :end_time %>
    </div>
    <div id="calendarentry_create" class="ui">
      <%= f.submit "Kalendereintrag erstellen", class: "ui button primary" %>
    </div>
  </div>
<% end %>
