<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @calendar_event.title %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @calendar_event.description %>
</p>

<p>
  <strong>Startzeit:</strong>
  <%= @calendar_event.start_time %>
</p>

<p>
  <strong>Endzeit:</strong>
  <%= @calendar_event.end_time %>
</p>

<%= link_to 'Edit', edit_calendar_event_path(@calendar_event) %> |
<%= link_to 'Back', calendar_events_path %>
