
<!--section id='event-ticker'>
  <div class='events-wrapper'>
  <% Event.upcoming.each do |event| %>
    <div class='event'>
      <div class='event-title'><%= event.title %></div>
      <div class='event-date'><%= l event.start_time %></div>
      <div class='event-description'><%= event.description.truncate(50, separator: ' ', omission: ' ...') %></div>
    </div>
  <% end %>
  </div>
</section-->

<%= render_breadcrumbs %>

<div id="blog-view">
  <%= render partial: 'index' %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @pages %>
</div>
