<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='form'>
    <tr>
      <th><%= f.label :project %></th>
      <td><%= f.collection_select :project_id, Project.all.order(:title), :id, :title, include_blank: true %></td>
    </tr>

    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
    </tr>

    <tr>
      <th><label>Datum</label></th>
      <td>
        <div class='input-append'>
          <%= f.text_field :start_time, class: 'datepicker', 'data-date-format' => 'dd.mm.yyyy hh:mm', placeholder: '21.05.2013 14:30' %>
          <span class='add-on'><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
      </td>

    </tr>

    <tr>
      <th><%= f.label :public %></th>
      <td><%= f.check_box :public %></td>
    </tr>




  </table>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
