<h1>Termine</h1>

<ul class='tabs'>
  <%= navigation_link_to 'Anstehend', events_path %>
  <%= navigation_link_to 'Vergangene', "#{events_path}:old" %>
</ul>

<% @events.each do |event| %>
  
  <section class='event'>
    <h1><%= l event.start_time %> - <%= event.title %></h1>
  </section>
  
<% end %>

<% content_for :actions do %>
  <%= navigation_link_to 'Termin erstellen', new_event_path %>
<% end %>