
<tr>
  <td><%= "--- " * (entry_indent ||= 0) %><%= page.title %></td>
  <td><%= page.show_in_navigation %></td>
  <td><%= page.public %></td>
  <td><%= link_to 'Show', page %></td>
  <td><%= link_to 'Edit', edit_page_path(page) %></td>
  <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% page.children.each do |child| %>
  <%= render 'pages/entry', page: child, entry_indent: (entry_indent + 1) %>
<% end %>

