<% set_background @page.background %>

<h1>Seite bearbeiten</h1>

<% page ||= @page %>

<% if page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

    <ul>
    <% page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(page) do |f| %>
  <table class='ui celled table'>
    <thead>
      <tr>
        <th><%= f.label :title %></th>
        <td class= "ui input"><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><%= page.path %></td>
      </tr>

      <tr>
        <th><%= f.label :show_in_navigation %></th>
        <td><%= f.check_box :show_in_navigation %></td>
      </tr>

      <tr>
        <th><%= f.label :public %></th>
        <td><%= f.check_box :public %></td>
      </tr>

      <tr>
        <th><%= f.label :background %></th>
        <td class= "ui input"><%= f.text_field :background_id, class: 'number' %></td>
      </tr>

      <!--tr>
        <th><%= f.label :color %></th>
        <td>
          <div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb">
            <input type="text" class="span2" value="" >
            <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
          </div>
        </td>
      </tr-->

      <tr>
        <th><%= f.label :parent %></th>
        <td>
          <%- if can?(:manage, Page) %>
            <%= f.collection_select :parent_id, Page.tree_array, :id, :label, :include_blank => true %>
          <% else %>
            <%= @page.parent.try :title %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :navigation_style %></th>
        <td><%= f.collection_select :navigation_style, [OpenStruct.new(style: 'parent', label: 'Navigation der Oberseite'), OpenStruct.new(style: 'none', label: 'Keine')], :style, :label, :include_blank => true %></td>
      </tr>

      <tr>
        <th>Unterseiten</th>
        <td>
          <ul class='sortable-pages'>
            <%= hidden_field_tag 'sorting' %>
            <% @page.children.each do |child| %>
              <li data-id='<%= child.id %>'><%= link_to child.title, edit_page_path(child) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </thead>
  </table>


  <div class='ui top attached tabular menu'>
    <div class="active item" data-tab="inhalt"><a href='#inhalt'>Inhalt</a></div>
    <div class="item" data-tab="dateien"><a href='#dateien'>Dateien (<%= @page.page_files.count %>)</a></div>
    <div class="item" data-tab="hilfe"><a href='#hilfe'>Hilfe</a></div>
  </div>

  <div class="ui bottom attached active tab segment" data-tab="inhalt">
    <div class="field">
      <%= render 'wysiwyg', {form: f, field: :content} %>
    </div>
  </div>

  <div class="ui bottom attached tab segment" data-tab="hilfe">
    Im Text Editor können Liquid-Templates verwendet werden:

    <ul>
      <li><a target='_blank' href='https://github.com/Shopify/liquid/wiki/Liquid-for-Designers'>Liquid für Designer</a></li>
    </ul>
  </div>


  <div class="ui bottom attached tab segment" data-tab="dateien">
    <div id='dateien' class='multifile-upload'>
      <div class='file drop-target'>
        Neue Dateien per Drag&Drop hereinziehen oder hier klicken:

        <div class='progress'>
          <div class='bar' style='width: 0%;'></div>
        </div>
      </div>
    </div>

      <input class='fileupload' type='file' name='files' multiple data-reload=true data-dropzone='#dateien .drop-target' data-method='POST' data-url='<%= page_page_files_url(@page) %>'>

      <% @page.page_files.each do |pf| %>
        <div class='file'>
          <div class='file-name'>#<%= pf.id %> : <%= pf.file_file_name %></div>
          <img src='<%= pf.file.url(:square) %>'>
          <div class='file-details'>
            <%= pf.width %> x <%= pf.height %><br/>

            <%= link_to 'orginal', pf.file.url, target: '_blank' %>
            <% pf.file.styles.each do |key, style| %>
              <%= link_to key, pf.file.url(key), target: '_blank' %>
            <% end %>

            <div class='file-actions'>
              <%= link_to 'Löschen', page_page_file_path(@page, pf), class: 'btn-danger', method: :delete, confirm: 'Datei wirklich löschen?' %>
              <%= link_to 'Bearbeiten', '#' %>
            </div>

          </div>
        </div>
      <% end %>



      <%# render 'image_form', {collection: @page.page_files, upload_url: page_page_files_url(@page)} %>

  </div>



  <div class="actions">
    <%= f.submit 'Seite aktualisieren', :class => 'ui green button', :style => 'margin-top: 10px;' %>
  </div>
<% end %>
