<h1>Seiten</h1>

<table>
  <tr>
    <th>Title</th>
    <th>In Navigation</th>
    <th>Public</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Page.tree_array(@pages).each do |entry| %>
  <% page = entry.instance %>
  <tr>
    <td><%= entry.label %></td>
    <td><%= page.show_in_navigation %></td>
    <td><%= page.public %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<% content_for :actions do %>
  <%= link_to 'Seite anlegen', new_page_path %>
<% end %>