

%table.system
  %tr
    %th= 'Datum'
    %th= 'Spielort'
  - @project.events.each do |event|
    %tr
      %td
        = text_field_tag "events[#{event.id}][start_time]", event.start_time
      %td
        = event.location.try(:name)

.actions
  = f.submit 'Speichern'


/ .actions
/   = form_for(Event.new(project: @project)) do |f|
/     = f.hidden_field :project_id
/     %table.form
/       %tr
/         %td= f.label :start_time
/         %td= f.text_field :start_time

/     = f.submit
