<% if @project.locations.length > 0 %>
  <div class='locations right-sidebar-layout'>
    <div class='tab-section-h' style='margin-left: -10px;'>Veranstaltungsort</div>
    <% @project.locations.uniq.each do |location| %>
      <%= render 'locations/item', location: location %>
    <% end %>
  </div>
<% end %>

<% @project.events.group_by(&:year).each do |year, yevents| %>
  <div class='tab-section-h'><%= year %></div>
  <% yevents.group_by(&:week).each do |week, events| %>
    <div class='week' data-week='<%= week %>'>
      <% events.each do |event| %>
        <div class='event'>
          <%= l event.start_time, format: :project %>
          <!-- <span class='time'><%= l event.start_time, format: :time_only %></span> -->
          <span class='description'><%= with_clamps_unless_nil(event.title) %></span>

        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class='clearfix'></div>
