<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <ul class='tabs'>
    <li><a href='#allgemein'>Allgemein</a></li>
    <% unless @project.new_record? %>
      <li><a href='#inhalt'>Inhalt</a></li>
      <li><a href='#teams'>Teams</a></li>
      <li><a href='#bilder'>Bilder (<%= @project.images.count %>)</a></li>
      <li><a href='#presse'>Presse (<%= @project.press.count %>)</a></li>
      <li><a href='#termine'>Termine (<%= @project.events.count %>)</a></li>

    <% end %>
  </ul>

  <div class='tab-content'>
    <div id='allgemein'>
      <table class='form'>
        <tr>
          <th><%= f.label :title %></th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :subtitle %></th>
          <td><%= f.text_field :subtitle %></td>
        </tr>
        <tr>
          <th><%= f.label :videos %></th>
          <td><%= f.text_area :videos %></td>
        </tr>
        <tr>
          <th><%= f.label :tags %></th>
          <td><%= f.text_field :tag_list, class: 'tags' %></td>
        </tr>

      </table>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>

    <div id='inhalt'>
      <%= render 'wysiwyg', {form: f, field: :description} %>
    </div>

    <% unless @project.new_record? %>
      <div id='bilder'>
        <%= render 'image_form', {collection: @project.images, container_id: 'bilder', upload_url: specific_project_project_files_path(@project, {kind: 'image'})} %>
      </div>

      <div id='presse'>
        <%= render 'image_form', {collection: @project.press, container_id: 'presse', upload_url: specific_project_project_files_path(@project, {kind: 'press'})} %>
      </div>

      <div id='teams'>
        <ul>
          <% @project.teams.each do |team| %>
            <li><%= link_to team.full_name, edit_project_team_path(@project, team) %></li>
          <% end %>
        </ul>
        <%= link_to 'Team hinzufügen', new_project_team_path(@project), class: 'btn btn-success' %>
      </div>

      <div id='termine'>
        <%= render 'events_form', f: f %>
      </div>


    <% end %>


  </div>


<% end %>



