<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
   <div class="field">
    <%= f.label :videos %><br />
    <%= f.text_area :videos %>
  </div>
  <div class='field'>
    <%= f.label 'Tags' %><br/>
    <%= f.text_field :tag_list, class: 'tags' %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= render 'wysiwyg', {form: f, field: :description} %>
  </div>
  
  <% unless @project.new_record? %>
    <h2>Bilder</h2>
    <%= render 'image_form', {collection: @project.images, upload_url: specific_project_project_files_url(@project, {kind: 'image'})} %>

    <h2>Presse</h2>
    <%= render 'image_form', {collection: @project.press, upload_url: specific_project_project_files_url(@project, {kind: 'press'})} %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



