<div id="gallery" style="display:none;">
  <% @project.images.each do |image| %>
    <img alt='<%= image.description unless image.description.empty? %>'
    src='<%= asset_url image.file.url(:normal) %>'
    data-image='<%= asset_url image.file.url(:large) %>'>
  <% end %>
  <% unless @project.videos.nil? %>
    <% @project.videos.each_line do |video_url| %>
      <img alt="Youtube Video"
      data-type="youtube"
      data-videoid="<%= video_url[/(?<=[?&]v=)[^&$]+/] %>">
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#gallery").unitegallery({
      gallery_theme: "tiles",
      tiles_type: "nested",
      tile_enable_textpanel:!<%= @project.images.all? {|image| image.description.empty?} %>,
      tile_textpanel_title_text_align: "center"
    });
  });

</script>
