<%= render_breadcrumbs %>

<h1>Projekte (<%= Project.count %>)</h1>

<ul class='tabs'>
  <%= navigation_link_to 'Alle', tagged_projects_path() %>
  <% Project.tag_counts.order('count DESC').limit(6).each do |tag| %>
    <%= navigation_link_to "#{tag.name.humanize} (#{tag.count})", tagged_projects_path(tag.name.downcase) %>
  <% end %>
</ul>

<div class='large-square-layout'>
  <% @projects.latest_first.each do |project| %>
    <a href='<%= show_tagged_project_path(params[:tags], project) %>' class='square'>

          <% if project.images.length > 0 %> 
            <img src= '<%=project.images.first.file.url(:square_300)%>' >
          <% else %>
            <div class='empty'>
            </div>
          <% end %>
          <div class ='title' >
            <%= project.title %>
          </div>

    </a>
  <% end %>
</div>

<% content_for :actions do %>
  <%= navigation_link_to 'Projekt anlegen', new_project_path %>
<% end %>