<%- params[:tags].blank? ? title('Projekte') : title("Projekte (#{params[:tags].humanize})") %>
<%= render_breadcrumbs %>

<h1>Projekte (<%= Project.count %>)</h1>

<div class='ui tabular menu'>
  <%= active_link_to 'Alle', tagged_projects_path(), class: 'item' %>
  <% Project.tag_counts.order('count DESC').limit(5).each do |tag| %>
    <%= active_link_to "#{tag.name.humanize} (#{tag.count})", tagged_projects_path(tag.name.downcase), class: 'item' %>
  <% end %>
</div>

<div id='projects-view' class='large-square-layout'>
  <%= render 'projects/projects' %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @projects %>
</div>
