<h1>Projekte (<%= @projects.count %>)</h1>

<ul class='nav-simple'>
  
  <%= navigation_link_to 'Alle', tagged_projects_path() %>
  <% Project.tag_counts.each do |tag| %>
    <%= navigation_link_to "#{tag.name.humanize} (#{tag.count})", tagged_projects_path(tag.name.downcase) %>
  <% end %>
</ul>

<% @projects.each do |project| %>
  <div class='project-box'>
    <h2><%= link_to (truncate(project.title, length: 34)), project %></h2>
    <% if project.project_files.length > 0 %>
      <img src='<%=project.project_files.first.file.url(:square)%>'align='left'>
    <% end %>
    <p><%= truncate(project.description, length: 120)%></p>
  </div>
<% end %>


<br />

<% content_for :actions do %>
  <%= navigation_link_to 'Projekt anlegen', new_project_path %>
<% end %>