<%- params[:tags].blank? ? title('Projekte') : title("Projekte (#{params[:tags].humanize})") %>
<%= render_breadcrumbs %>

<h1>Projekte (<%= Project.count %>)</h1>

<div class="ui pointing menu">
  <%= link_to_active 'Alle', "/projekte", true %>
  <% Project.tag_counts.order('count DESC').limit(5).each do |tag| %>
    <%= link_to_active "#{tag.name.humanize} (#{tag.count})", "/projekte:#{tag.name.humanize}", true %>
  <% end %>
</div>

<div class="ui search">
  <div class="ui icon input">
    <%= form_tag projects_path, :method => 'get'  do %>
       <%= text_field_tag :search, params[:search], class: "prompt"%>
       <%= submit_tag "Suchen", :name => nil, class: "ui button"  %>
     <% end %>
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<div id="projects-view">
  <%= render partial: 'index' %>
</div>


<div id="infinite-scrolling">
  <%= will_paginate @projects %>
</div>
