<%- params[:tags].blank? ? title('Projekte') : title("Projekte (#{params[:tags].humanize})") %>
<%= render_breadcrumbs %>

<h1>Projekte (<%= Project.count %>)</h1>

<ul class='tabs'>
  <%= navigation_link_to 'Alle', tagged_projects_path() %>
  <% Project.tag_counts.order('count DESC').limit(5).each do |tag| %>
    <%= navigation_link_to "#{tag.name.humanize} (#{tag.count})", tagged_projects_path(tag.name.downcase) %>
  <% end %>
</ul>

<div class="ui search">
  <div class="ui icon input">
    <%= form_tag projects_path, :method => 'get'  do %>
       <%= text_field_tag :search, params[:search]%>
       <%= submit_tag "Search", :name => nil  %>
     <% end %>
    <i class="search icon"></i>
  </div>
  <div class="results">asdf</div>
</div>

<div id="projects-view">
  <div class="ui relaxed divided items">
    <% @projects.each do |project| %>
      <div class="item">
        <div class="ui small image">
          <% if project.images.length > 0 %>
            <img src= '<%=project.images.first.file.url(:square_300)%>' >
          <% else %>
            <img src= "/images/image.png" >
          <% end %>
        </div>
        <div class="content">
          <a href ="/projekte/<%= project.id %>" class="header"><%= project.title %></a>
          <div class="meta">
            <a><%= project.year %></a>
            <a>Kategorie</a>
          </div>
          <div class="description">
            Test Beschreibung 123456789
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div id="infinite-scrolling">
  <%= will_paginate @projects %>
</div>
