<%- title(@project.title) %>
<%-
  meta(
    keywords: @project.tags.join(','),
    og: {
      title: @project.title,
      site_name: 'Jugendtheater Martinszell e.V.',
      image: @project.cover.nil? ? '' : @project.cover.url(:square_300)
    }
  )
%>

<%- set_background @project.images.first %>
<%= render_breadcrumbs %>


<div id='navigatable-nav'>
  <%= render_navigatable_nav(@previous, '&laquo;', lambda {|i| show_tagged_project_path(params[:tags], i) }, :title) %>
  <%= render_navigatable_nav(@next, '&raquo;', lambda {|i| show_tagged_project_path(params[:tags], i) }, :title) %>
</div>

<div data-ongoing='<%= @project.ongoing? %>'>
  <h1><%= @project.title %></h1>

  <div class='ui interactive tabular menu'>
    <% unless @project.description.blank? and @project.images.try(:empty?) %>
      <a class='item' data-tab='description'>Inhalt & Bilder</a>
    <% end %>

    <% if @project.actors.any? %>
      <a class='item' data-tab='darsteller'>Darsteller</a>
    <% end %>

    <% unless @project.non_actor_teams.empty? %>
      <a class='item' data-tab='teams'>Hinter den Kulissen</a>
    <% end %>

    <% unless @project.videos.blank? %>
      <a class='item' data-tab='videos'>Videos (<%= @project.videos.lines.count %>)</a>
    <% end %>

    <% unless @project.press.empty? %>
      <a class='item' data-tab='press'>Presse (<%= @project.press.length %>)</a>
    <% end %>

    <a class='item' data-tab='events'>Termine (<%= @project.events.length %>)</a>
  </div>

  <div class='ui tab' data-tab='description'>
    <% unless @project.description.blank? %>
      <div class='project-description'>
        <%= @project.description.try :html_safe %>
      </div>
    <% end %>

    <%= render partial: 'gallery' %>
  </div>

  <div class='ui tab' data-tab='events'>
    <%= render partial: 'events' %>
  </div>

  <div class='ui tab large-square-layout' data-tab='press'>
    <%= render partial: 'press' %>
  </div>

  <div class='ui tab' data-tab='videos'>
      <%= render partial: 'videos' %>
  </div>

  <!-- dont index this content on google -->

  <!--googleoff: all -->
    <% unless @project.actor_teams.empty? %>
      <div class='ui tab' data-tab='darsteller'>
        <%= render partial: 'darsteller' %>
      </div>
    <% end %>

    <div class='ui tab' data-tab='teams'>
      <%= render partial: 'teams' %>
    </div>
  <!--googleon: all -->

</div>

<% content_for :actions do %>
  <%= navigation_link_to 'Projekt bearbeiten', edit_project_path(@project) if can?(:edit, @project) %>
<% end %>

