<% set_background @project.images.first %>


<p id="notice"><%= notice %></p>

<h1><%= @project.title %></h1>

<% if @previous %>
  <%= link_to '<<<', show_tagged_projects_path(params[:tags], @previous) %>
<% else %>
  <<<
<% end %>
<%= link_to (params[:tags].try(:humanize) or 'Alle'), tagged_projects_path(params[:tags]) %>
<% if @next %>
  <%= link_to '>>>', show_tagged_projects_path(params[:tags], @next) %>
<% else %>
  >>>
<% end %>

<div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
        <% @project.images.each do |item| %>
          <img src='<%= item.file.url(:large_cinema) %>' title='<%= item.description %>'>
        <% end %>
    </div>
</div>
<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
</div>

<p>
  <%= @project.description.try :html_safe %>
</p>

<p>
  <b>Termine:</b>
  <ul>
    <% @project.events.each do |event| %>
      <li>
        <%= l event.start_time %>
        <% unless event.title.blank? %>
          (<%= event.title %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Presse:</b>
  <div>
  <% @project.press.each do |item| %>
    <a href='<%= item.file.url %>'>
      <img src='<%= item.file.url(:square) %>' title='<%= item.description %>'>
    </a>
  <% end %>
  </div>
</p>

<p>
  <b>Videos:</b>
    <div>
      <% if @project.videos.nil? %>
        <p>Keine Videos verfügbar</p>
      <% else %>
        <% @project.videos.each_line do |video_url| %>
          <%= youtube_embed(video_url).html_safe %>
        <% end %>
      <% end %>
    </div> 
</p>


<% content_for :actions do %>
  <%= navigation_link_to 'Projekt bearbeiten', edit_project_path(@project) %>
<% end %>