<p id="notice"><%= notice %></p>

<h1>
  
  <%= @project.title %>
</h1>

<p>
  
  <%= @project.description.try :html_safe %>
</p>

<p>
  <b>Bilder:</b>
  <div>
  <% @project.images.each do |item| %>
    <a href='<%= item.file.url %>'>
      <img src='<%= item.file.url(:square) %>' title='<%= item.description %>'>
    </a>
  <% end %>
  </div>
</p>

<p>
  <b>Presse:</b>
  <div>
  <% @project.press.each do |item| %>
    <a href='<%= item.file.url %>'>
      <img src='<%= item.file.url(:square) %>' title='<%= item.description %>'>
    </a>
  <% end %>
  </div>
</p>


<% content_for :actions do %>
  <%= navigation_link_to 'Projekt bearbeiten', edit_project_path(@project) %>
<% end %>