<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description.try :html_safe %>
</p>

<p>
  <b>Bilder:</b>
  <div>
  <% @project.images.each do |item| %>
    <a href='<%= item.file.url %>'>
      <img src='<%= item.file.url(:square) %>' title='<%= item.description %>'>
    </a>
  <% end %>
  </div>
</p>

<p>
  <b>Presse:</b>
  <div>
  <% @project.press.each do |item| %>
    <a href='<%= item.file.url %>'>
      <img src='<%= item.file.url(:square) %>' title='<%= item.description %>'>
    </a>
  <% end %>
  </div>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
