<%- title(@project.title) %>
<%- set_background @project.images.first %>
<%-
  meta(
    keywords: @project.tags.join(','),
    og: {
      title: @project.title,
      site_name: 'Jugendtheater Martinszell e.V.',
      image: @project.cover.nil? ? '' : @project.cover.url(:square_300)
    }
  )
%>

<div class="header">
<%= render_breadcrumbs %>

  <div id='navigatable-nav'>
    <%= render_navigatable_nav(@previous, '&laquo;', lambda {|i| show_tagged_project_path(params[:tags], i) }, :title) %>
    <%= render_navigatable_nav(@next, '&raquo;', lambda {|i| show_tagged_project_path(params[:tags], i) }, :title) %>
  </div>
</div>

<div data-ongoing='<%= @project.ongoing? %>'>
  <h1><%= @project.title %></h1>

  <div id="project_tabs" class='ui top attached stackable tabular menu desktop only container'>
    <% unless @project.description.empty? and @project.images.empty? %>
      <a class="item" data-tab="inhalt">Inhalt</a>
    <% end %>

    <% unless @project.actor_teams.empty? %>
      <a class="item" data-tab="darsteller">Darsteller</a>
    <% end %>

    <% unless @project.non_actor_teams.empty? %>
      <a class="item" data-tab="hdk">Hinter den Kulissen</a>
    <% end %>

<!--       <% unless @project.videos.blank? %>
      <a class="item" data-tab="videos">Videos (<%= @project.videos.lines.count %>)</a>
    <% end %> -->

    <% unless @project.press.empty? %>
      <a class="item" data-tab="press">Presse (<%= @project.press.length %>)</a>
    <% end %>

    <% unless @project.events.empty? %>
      <a class="item" data-tab="events">Termine (<%= @project.events.length %>)</a>
    <% end %>
  </div>


  <div id="project_tabcontent">
    <% unless @project.description.empty? and @project.images.empty? %>
      <div class="ui bottom attached tab segment" data-tab="inhalt">
        <div style="overflow: hidden;">
          <% unless @project.description.empty? %>
            <img class="ui medium left floated image" src='<%= asset_url @project.images.first.file.url(:normal) %>'>
          <% end %>

          <%= @project.description.try :html_safe %>
        </div>
        <%= render partial: 'gallery' %>
      </div>
    <% end %>

    <% unless @project.actor_teams.empty? %>
      <div class="ui bottom attached tab segment" data-tab="darsteller">
        <%= render partial: 'darsteller' %>
      </div>
    <% end %>

    <% unless @project.non_actor_teams.empty? %>
      <div class="ui bottom attached tab segment" data-tab="hdk">
        <%= render partial: 'hdk' %>
      </div>
    <% end %>

  <!--     <div class="ui bottom attached tab segment" data-tab="videos">
      <%= render partial: 'videos' %>
    </div> -->

    <% unless @project.press.empty? %>
      <div class="ui bottom attached tab segment" data-tab="press">
        <%= render partial: 'press' %>
      </div>
    <% end %>

    <% unless @project.events.empty? %>
      <div class="ui bottom attached tab segment" data-tab="events">
        <%= render partial: 'events' %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :actions do %>
  <%= link_to_active 'Projekt bearbeiten', edit_project_path(@project) if can?(:edit, @project) %>
<% end %>
