<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= link_to @link.url, href= "http://"+@link.url %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @link.description %>
</p>


<%= link_to 'Bearbeiten', edit_link_path(@link) %> |
<%= link_to 'Zurück', links_path %>
