<%= form_for(@guestbook) do |f| %>
  <%= raw negative_captcha(@captcha) %>
  <% if @guestbook.errors.any? %>
    <div id="error_explanation">
      <h2>Fehler:</h2>

      <ul>
      <% @guestbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class='form'>
    <tr>
      <th><%= f.negative_label @captcha, :name, 'Name' %></th>
      <td><%= f.negative_text_field @captcha, :name %></td>
    </tr>
    <tr>
      <th><%= f.negative_label @captcha, :content, 'Nachricht' %></th>
      <td><%= f.negative_text_area @captcha, :content, class: 'size-middle' %></td>
    </tr>
    
    <!--tr>
      <th><%= f.label :project, 'Projekt' %></th>
      <td><%= f.collection_select :project_id, Project.latest_first.limit(5), :id, :title, include_blank: true %></td>
    </tr-->
    
  </table>
  
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'oder zurück zum Gästebuch', guestbooks_path %>
  </div>
  
<% end %>
