<h1>Gästebuch (<%= @guestbooks.count %> Einträge)</h1>

<%= form_tag '/gaestebuch/manage' do %>

  <%= admin_panel_for Guestbook do %>
    <%= submit_tag 'Auswahl löschen', id: 'delete', name: 'delete', class: 'ui red button', confirm: 'Wirklich löschen?' %>
      <%= submit_tag 'Auswahl Projekt zuweisen:', name: 'assign_project', class: 'ui green button' %>
      <%= collection_select 'guestbook', 'project_id', Project.latest_first, :id, :title %>
  <% end %>

  <p>
    <%= link_to 'Eintrag erstellen', new_guestbook_path, class: 'ui button primary', style: 'width: 150px; margin-bottom: 10px;' %>
  </p>

  <%- count = 0 %>
  <%- p = -1 %>
  <div class='ui stackable vertically divided grid container'>
    <div id="project_guestbook" class='ui fluid segment'>
    <% @guestbooks.each do |guestbook| %>

      <% if guestbook.project != p %>

        <% unless count == 0 %>
          </div>
          <div class='ui segment'>
        <% end %>

        <%
          count += 1
          p = guestbook.project
        %>
        <% if p %>
          <% if p.has_image? %>
            <div class="ui rail">
              <div id="sticky_pic" class="ui sticky">
                <img src='<%= asset_url p.image.url(:square) %>'>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div id="entry" class='ui segment' style="margin-left: 160px;">
        <div class='header'>
          <div class='name'>
            <%= guestbook.name %>
          </div>
          <div class='created-at'>
            <%= l guestbook.created_at, format: :no_time %>
            <% if can?(:manage, Guestbook) %>
              <%= check_box_tag 'guestbook[selection][]', guestbook.id %>
            <% end %>
          </div>
        </div>
        <div class='body'>
          <div class='content'>
            <%= guestbook.content.try :html_safe %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

<% end %>
