
  
  <table class='form'>

    <tbody>
      <tr>
        <th style='width:100px;'>An</th>
        <td>
          <div class='field'>
            <%# f.select :to, options_for_select(['a', 'b']), multiple: true, style: 'width: 100%;' %>
            <select id='email_to' name='email[to]' multiple>
              
              <!--optgroup label='Spezial'-->
                <option value='mitglieder@jtm.de'>Alle (aktiv)</option>
                <!--option value=''>über 16 Jahre</option>
                <option value=''>über 18 Jahre</option-->
              <!--/optgroup-->
              
              <optgroup label='Mitglieder'>
                <%- Member.active.ordered.each do |m| %>
                  <option value='<%= m.email_with_name %>'><%= m.ordered_full_name %></option>
                <% end %>
              </optgroup>
              
              <optgroup label='Gruppen'>
                <%- Group.ordered.each do |g| %>
                  <option value="<%= g.emails.join(',') %>"><%= g.name %></option>
                <% end %>
              </optgroup>
              

            </select>
            <div class='hint'>
              Einfach tippen um nach Mitgliedern und Gruppen zu suchen!
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Betreff</th>
        <td>
          <%= text_field_tag :email_subject, '', style: 'width: 100%;' %>
        </td>
      </tr>
      <tr>
        <th>Inhalt</th>
        <td>
          <%= text_area_tag :email_content, '', style: 'height: 300px;' %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to 'Weiter (E-Mail Programm öffnen)', 'mailto:', id: 'email_next', class: 'btn btn-success' %>
  </div>


<script>
  $('#email_to, #email_subject, #email_content').on('change', function(){
    var emails = $('#email_to').val().join(',').split(',');
    emails = $.unique(emails).join(',');
    
    var link = "mailto:" + encodeURI(emails) + "?subject=" + encodeURI( $('#email_subject').val() ) + "&body=" + encodeURI( $('#email_content').val() );
    
    $('#email_next').attr('href', link);
  })
</script>