<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class='form'>

    <tbody>
      <tr>
        <th style='width:100px;'>An</th>
        <td>
          <div class='field'>
            <% f.select :to, options_for_select(['a', 'b']), multiple: true, style: 'width: 100%;' %>
            <select id='email_to' name='email[to]' multiple>
              <optgroup label='Mitglieder'>
                <%- Member.active.ordered.each do |m| %>
                  <option value='<%= m.email %>'><%= m.ordered_full_name %></option>
                <% end %>
              </optgroup>
              <optgroup label='Gruppen'>
                <%- Group.ordered.each do |g| %>
                  <option value='group_<%= g.id %>'><%= g.name %></option>
                <% end %>
              </optgroup>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th>Betreff</th>
        <td>
          <%= f.text_field :subject, style: 'width: 100%;' %>
        </td>
      </tr>
      <tr>
        <th>Inhalt</th>
        <td>
          <%= f.text_area :content, style: 'height: 300px;' %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit 'E-Mail versenden' %>
  </div>
<% end %>

<script>
  $('#email_to2').select2();
</script>
