%h1 E-Mail verfassen


%form{action: email_path, method: :post}
  %table.ui.celled.table

    %thead
      %tr
        %th{style:'width:100px;'} An
        %td
          .ui.form
            .ui.field
              %select{id:'email_to', name:'email[]', multiple: true}

                %option{value:'mitglieder@jtm.de'} Alle (aktiv)
                %optgroup{label:'Mitglieder'}
                  - Member.active.ordered.each do |m|
                    %option{value:m.email_with_name}
                      = m.ordered_full_name


                %optgroup{label:'Gruppen'}
                  - Group.ordered.each do |g|
                    %option{value: g.emails.join(',')}
                      = g.name

              .ui.message
                Einfach tippen um nach Mitgliedern und Gruppen zu suchen!

      %tr
        %th Betreff
        %td
          %div.ui.fluid.input
            = text_field_tag :email_subject, '', style: 'width: 100%;'

      %tr
        %th Inhalt
        %td
          %div.ui.form
            %div.field
              = text_area_tag :email_content, '', style: 'height: 300px;'


  .actions
    %h3 Möglichkeit 1: Über eigenes E-Mail Programm verschicken
    = link_to 'Weiter (E-Mail Programm öffnen)', 'mailto:', id: 'email_next', class: 'ui green button'
  .actions
    %h3 Möglichkeit 2: Über Website verschicken (Momentan KEIN Anhang möglich!)
    = submit_tag 'Weiter (über Website)', :class => "ui button primary"



:coffeescript
  $('#email_to, #email_subject, #email_content').on 'change', ()->
    emails = $('#email_to').val().join(',').split(',')
    emails = $.unique(emails).join(',')

    link = "mailto:" + encodeURI(emails) + "?subject=" + encodeURI( $('#email_subject').val() ) + "&body=" + encodeURI( $('#email_content').val() )

    $('#email_next').attr('href', link)
