<%= render_breadcrumbs %>

<%= admin_panel_for Location do %>
  <%= form_tag locations_path, method: 'put' do %>
    <table class='ui sortable table'>
      <thead>
        <th>Spielorte</th>
      </thead>
      <tbody data-sort-target='#location_positions'>
        <input type='hidden' name='ids' id='location_positions' />
        <% @locations.each do |location| %>
          <tr data-id='<%= location.id %>'>
            <td><%= location.name %></td>
          <tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Sortierung speichern', class: "ui green button" %>
  <% end %>
<% end %>

<h1>Spielorte</h1>


<div class='ui grid'>
  <% @locations.each do |location| %>
    <div id="location" class="column ui segment">
      <%= render 'item', location: location %>
    </div>
  <% end %>
</div>



<% content_for :actions do %>
  <%= link_to_active 'Neuer Spielort', new_location_path, true %>
<% end %>
