<%= render_breadcrumbs %>

<div id='navigatable-nav'>
  <%= render_navigatable_nav(@previous, '&laquo;', lambda {|i| location_path(i) }, :name) %>
  <%= render_navigatable_nav(@next, '&raquo;', lambda {|i| location_path(i) }, :name) %>
</div>

<%# image_tag "http://maps.google.com/maps/api/staticmap?size=400x250&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}", class: 'location-image' %>

<h1><%= @location.name %></h1>
<%= @location.joined_address %>

<div class='clearfix'></div>

<div class='ui interactive tabular menu'>
  <a class='item' data-tab='projekte'>Projekte (<%= @location.projects.count %>)</a>
  <% unless @location.page.content.blank? %>
    <a class='item' data-tab='beschreibung'>Beschreibung</a></li>
  <% end %>
</div>


<div data-tab='beschreibung' class='ui tab no-slideshow-thumbs'>
  <%= render 'pages/show', page: @location.page %>
</div>

<div data-tab='projekte' class='ui tab large-square-layout'>

    <% @location.projects.latest_first.each do |project| %>
      <a href='<%= project_path(project) %>' class='square'>

      <% if project.image %>
        <img src= '<%= asset_url project.image.file.url(:square_300)%>' >
      <% else %>
        <div class='empty'>
        </div>
      <% end %>

      <div class ='title' >
        <%= project.title %>
      </div>

      </a>
    <% end %>

</div>




<% content_for :actions do %>
  <%= active_link_to 'Spielort bearbeiten', edit_location_path(@location) %>
  <%= active_link_to 'Beschreibung bearbeiten', edit_page_path(@location.page) %>
<% end %>
