<div class='ui inverted top fixed menu'>
  <%= navigation_link_to 'Dashboard', '/dashboard' %>
  <%= navigation_link_to 'E-Mail', email_path, true %>
  <%= navigation_link_to 'Kalender', calendar_events_path, true %>
  <%= navigation_link_to 'Adressen', address_members_path, true %>
  <%= navigation_link_to 'Gruppen', groups_path, true %>

  <%= render partial: 'navigation/intern/editor' %>
  <%= render partial: 'navigation/intern/user' %>
</div>
