<!DOCTYPE html>
<html class='no-js'>
<head>
  <%= render 'layouts/meta' %>
  <title><%= yield(:title).blank? ? "JTM - Jugendtheater Martinszell e.V." : yield(:title) %></title>
  <link rel="icon" type="image/png" href="/favicon.png" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20299192-1']);
    _gaq.push(['_setDomainName', 'jtm.de']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body class='<%= current_user ? "internal" : "" %>'>
  <% if current_user %>


    <% content_for :default_actions do %>
      <%= link_to_active 'Termin', new_event_path if can?(:create, Event) %>
      <%= link_to_active 'Projekt', new_project_path if can?(:create, Project) %>
      <%= link_to_active 'Seite', new_page_path if can?(:create, Page) %>
      <%= link_to_active 'Mitglied', new_member_path if can?(:create, Member) %>
      <%= link_to_active 'Gruppe', new_group_path if can?(:create, Group) %>
    <% end %>

    <% content_for :editor_links do %>
      <%= link_to_active 'User', users_path, true if can?(:manage, User) %>
      <%= link_to_active 'Mitglieder', members_path, true if can?(:manage, Member) %>
      <%# link_to_active 'Gruppen', groups_path, true if can?(:manage, Group)%>
      <%# link_to_active 'Kalender', '#' %>
      <%# link_to_active 'E-Mail', '#' %>
      <%= link_to_active 'Seiten', pages_path, true if can?(:manage, Page) %>
      <%= link_to_active 'Termine', events_path, true if can?(:manage, Event) %>
    <% end %>
      <div id="internal_navbar" class='ui fixed menu navbar page grid'>
        <% link_to current_user.member.full_name, '/profile', class: 'brand' %>

        <%= link_to_active "E-Mail", email_path, true %>
        <%= link_to_active 'Adressen', address_members_path, true %>
        <%= link_to_active 'Gruppen', groups_path, true %>
        <%= link_to_active 'Kalender', "/calendar_events", true %>

        <%# Links für Editoren %>
        <% unless yield(:editor_links).blank? %>
          <%= yield(:editor_links) %>
        <% end %>

        <%# Actions Dropdown %>
        <% unless yield(:actions).blank? %>
          <a id="action_toggle" class="item">Aktionen</a>
          <div id="action_dropdown" class="ui grey vertical navbar menu transition hidden">
              <%= yield(:actions) %>
          </div>
        <% end %>

        <%# Anlegen Dropdown %>
        <% unless yield(:default_actions).blank? %>
          <a id="create_toggle" class="item">Anlegen</a>
          <div id="create_dropdown" class="ui grey vertical navbar menu transition hidden">
              <%= yield(:default_actions) %>
          </div>
        <% end %>

        <div class="right menu">
          <%= link_to_active 'Dashboard', '/dashboard', true %>
          <%= link_to_active 'Profil', '/profile', true %>
          <%= link_to_active 'Logout', '/logout', true %>
          <%- if current_user.member.has_image? %>
            <div class='logo'>
              <img src='<%= current_user.member.file.url(:square) %>'>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>

<div class="ui grid">
      <div id='background' style='<%= yield(:background).blank? ? "" : "background-image: url(#{yield(:background)})" %>'></div>
      <div class="computer only row">
           <div class="ui inverted fixed menu navbar page grid">
              <a href='/'><img id='logo' src='/images/logo2.png'></a>
              <%= link_to_active 'Jugendtheater Martinszell', "/", true %>
              <%= link_to_active 'Projekte', "/projekte", true %>
              <%= link_to_active 'Spielorte', "/spielorte", true %>
              <%= link_to_active 'Der Verein', "/s/der-verein", true %>
              <%= link_to_active 'Kontakt', "/s/kontakt", true %>
              <%= link_to_active 'Gästebuch', "/gaestebuch", true %>
              <div class="right menu">
                  <% unless current_user %>
                    <%= link_to_active 'Intern', "/login", true %>
                  <% end %>
              </div>
          </div>
      </div>
      <div class="mobile tablet only row">
          <div class="ui fixed inverted navbar menu">
            <a href='/' class="logo"><img id='logo' src='/images/logo2.png'></a>
            <a href="/" class="brand item mobile">Jugentheater Martinszell</a>
          </div>
          <div class="ui vertical navbar menu transition hidden">
            <%= link_to_active 'Projekte', "/projekte", true %>
            <%= link_to_active 'Spielorte', "/spielorte", true %>
            <%= link_to_active 'Der Verein', "/s/der-verein", true %>
            <%= link_to_active 'Kontakt', "/s/kontakt", true %>
            <%= link_to_active 'Gästebuch', "/gaestebuch", true %>
            <% unless current_user %>
              <%= link_to_active 'Intern', "/login", true %>
            <% end %>
          </div>
      </div>
  </div>

  <div id='content'>
    <div class='containers'>
      <div id='flashes'>
      <%- flash.each do |key, value| %>
        <div class='alert alert-<%= key %>'>
          <%= value %>
        </div>
      <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
