<!DOCTYPE html>
<html class='no-js'>
<head>
  <%= render 'layouts/meta' %>
  <title><%= yield(:title).blank? ? "JTM - Jugendtheater Martinszell e.V." : yield(:title) %></title>
  <link rel="icon" type="image/png" href="/favicon.png" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20299192-1']);
    _gaq.push(['_setDomainName', 'jtm.de']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body class='<%= current_user ? "internal" : "" %>'>
  <% if current_user %>


    <% content_for :default_actions do %>
      <%= link_to_active 'Termin', new_event_path, can?(:create, Event) %>
      <%= link_to_active 'Projekt', new_project_path, can?(:create, Project) %>
      <%= link_to_active 'Seite', new_page_path, can?(:create, Page) %>
      <%= link_to_active 'Mitglied', new_member_path, can?(:create, Member) %>
      <%= link_to_active 'Gruppe', new_group_path, can?(:create, Group) %>
    <% end %>

    <% content_for :editor_links do %>
      <%= link_to_active 'User', users_path, can?(:manage, User) %>
      <%= link_to_active 'Mitglieder', members_path, can?(:manage, Member) %>
      <%# link_to_active 'Gruppen', groups_path, true if can?(:manage, Group)%>
      <%# link_to_active 'Kalender', '#' %>
      <%# link_to_active 'E-Mail', '#' %>
      <%= link_to_active 'Seiten', pages_path, can?(:manage, Page) %>
      <%= link_to_active 'Termine', events_path, can?(:manage, Event) %>
    <% end %>
      <div id="internal_navbar" class='ui fixed menu navbar page padded grid' style="z-index:5;">
        <% link_to current_user.member.full_name, '/profile', class: 'brand' %>

        <%= link_to_active "E-Mail", email_path, true %>
        <%= link_to_active 'Adressen', address_members_path, true %>
        <%= link_to_active 'Gruppen', groups_path, true %>
        <%= link_to_active 'Kalender', "/kalender", true %>

        <%# Links für Editoren %>
        <% unless yield(:editor_links).blank? %>
          <%= yield(:editor_links) %>
        <% end %>

        <%# Actions Dropdown %>
        <% unless yield(:actions).blank? %>
          <div class="ui pointing dropdown link item">
            <span class="text">Aktionen</span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= yield(:_actions) %>
            </div>
          </div>
        <% end %>

        <%# Anlegen Dropdown %>
        <% unless yield(:default_actions).blank? %>
          <div class="ui pointing dropdown link item">
            <span class="text">Erstellen</span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= yield(:default_actions) %>
            </div>
          </div>
        <% end %>

        <div class="right menu">
          <%= link_to_active 'Dashboard', '/dashboard', true %>
          <%= link_to_active 'Profil', '/profile', true %>
          <%= link_to_active 'Logout', '/logout', true %>
          <%- if current_user.member.has_image? %>
              <img class="ui tiny rounded image" id="user_image" src='<%= asset_url current_user.member.file.url(:square_300) %>'>
          <% end %>
        </div>
      </div>
  <% end %>

<div class="ui padded grid" id = "menu_grid" style="margin: 0;">
      <div id='background' style='<%= yield(:background).blank? ? "" : "background-image: url(#{yield(:background)})" %>'></div>
      <div class="ui rail computer only row" id="navbar_rail"style="position: fixed;">
        <div class="ui vertical menu" id="vertical_navbar">
          <a href='/'><img id='logo' src='/images/logo2.png'></a>
          <%= link_to_active 'Jugendtheater Martinszell', "/", true %>
          <%= link_to_active 'Projekte', "/projekte", true %>
          <%= link_to_active 'Spielorte', "/spielorte", true %>
          <%= link_to_active 'Der Verein', "/s/der-verein", true %>
          <%= link_to_active 'Kontakt', "/s/kontakt", true %>
          <%= link_to_active 'Gästebuch', "/gaestebuch", true %>
          <% unless current_user %>
            <%= link_to_active 'Intern', "/login", true %>
          <% end %>
        </div>
      </div>
      <div class="mobile tablet only row" id="mobile_nav_content">
          <div class="ui fixed navbar menu" id="mobile_navbar">
            <a href='/' class="logo"><img id='logo' src='/images/logo2.png'></a>
            <div class="ui pointing dropdown link item">
              <span class="text">Jugentheater Martinszell</span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <%= link_to_active 'Projekte', "/projekte", true %>
                <%= link_to_active 'Spielorte', "/spielorte", true %>
                <%= link_to_active 'Der Verein', "/s/der-verein", true %>
                <%= link_to_active 'Kontakt', "/s/kontakt", true %>
                <%= link_to_active 'Gästebuch', "/gaestebuch", true %>
                <% unless current_user %>
                  <%= link_to_active 'Intern', "/login", true %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div id='content'>
    <div class='containers'>
      <div id='flashes'>
      <%- flash.each do |key, value| %>
        <div class='alert alert-<%= key %>'>
          <%= value %>
        </div>
      <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
