<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id='sidebar'>
    <a href='/'><img id='logo' src='/images/logo2.png'></a>
    <nav>
      <ul>
        <li>
          <%= navigation_link_to 'Projekte', projects_path %>
        </li>
        <li>
          <%= navigation_link_to 'Gruppen', groups_path %>
        </li>
        <li>
          <%= navigation_link_to 'Seiten', pages_path %>
        </li>
        
        <% Page.roots.where(show_in_navigation: true).each do |page| %>
          <li><%= navigation_link_to page.title, page_path(page) %></li>
        <% end %>
        
      </ul>
    </nav>
  </section>
  
  <section id='content'>
    <div class='container'>
      <%= yield %>
    </div>
  </section>

</body>
</html>
