<!DOCTYPE html>
<html>
<head>
  <title>JTM - Jugendtheater Martinszell e.V.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='internal'>

  <div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='navbar-inner'>
      <ul class='nav'>
        <%= navigation_link_to 'Mitglieder', members_path %>
        <%= navigation_link_to 'Gruppen', groups_path %>
        <%= navigation_link_to 'Kalender', '#' %>
        <%= navigation_link_to 'E-Mail', '#' %>
        <%= navigation_link_to 'Seiten', pages_path %>
        
        <%# unless yield(:actions).blank? %>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Actions</a>
            <ul class='dropdown-menu'>
              <%= yield(:actions) %>
              <li class='divider'></li>
              <li>
                <%= link_to 'E-Mail schreiben', '#' %>
              </li>
            </ul>
          </li>
          
        <%# end %>
      </ul>
      <ul class='nav pull-right'>
        <li><a href='#dashboard'>Dashboard</a></li>
        <li><a href='#profile'>Profil</a></li>
        <li><%= link_to 'Logout', '#logout' %></li>
      </ul>
    </div>
  </div>


  <section id='sidebar'>
    <a href='/'><img id='logo' src='/images/logo2.png'></a>
    <nav>
      <ul>
        <%= navigation_link_to 'Projekte', projects_path, true %>
        <%# navigation_link_to 'Termine', events_path, true %>
        <%# navigation_link_to 'Gruppen', groups_path, true %>
        
        <% Page.roots.in_navigation.each do |page| %>
          <%= navigation_link_to page.title, page_path(page) %>
        <% end %>
        
        <%= navigation_link_to 'Gästebuch', '#' %>
      </ul>
    </nav>
  </section>
  
  <section id='content'>
    <div id='background' style='<%= yield(:background).blank? ? "" : "background-image: url(#{yield(:background)})" %>'></div>
    <div class='container'>
      <%= yield %>
    </div>
  </section>

</body>
</html>
