<% member.actor_team_memberships.sort_by(&:year).reverse.each do |team_membership| %>
  <% project = team_membership.project %>
  <div class='actor'>

      <div class='actor-image'>
        <% if team_membership.role_image %>
          <a href='<%= project_path(project) %>'><img src='<%= asset_url team_membership.role_image.file.url(:square) %>'></a>
        <% end %>
      </div>

    <span class='member'><%= team_membership.role %></span>
    <span class='role'>
      <%= link_to project.title, project %>
      <%= with_clamps_unless_nil(project.year) %>
    </span>

  </div>
<% end %>
