= render_breadcrumbs

- if @group
  %h1= "#{@group.name} (#{@members.count})"
- else
  %h1= "Adressen (#{@members.count})"

%div
  %select.filter{data: {filter: 'gender'}}
    %option
    %option{value: 'w'} Weiblich
    %option{value: 'm'} Männlich
  %select.filter{data: {filter: 'age'}}
    %option
    %option{value: '18'} ab 18
    %option{value: '16'} ab 16

%table.system.address-table
  %thead
    %th Adresse
    %th Kontakt
    %th Info
  %tbody
    - @members.ordered.each do |member|
      %tr{data: {gender: member.gender, over18: (member.age >= 18).to_s, over16: (member.age >= 16).to_s}}
        / %td
        /   - if member.has_image?
        /     = image_tag member.file.url(:square)
        %td
          = with_br [member.name, member.first_name].join(' ')
          = with_br member.street
          = member.city
        %td
          = with_br member.phone, 'Telefon: '
          = with_br member.mobile, 'Handy: '
          = with_br member.fax, 'Fax: '
          
          - unless member.email.blank?
            = 'E-Mail'
            = link_to member.email, "mailto:#{member.email}"
        
        %td
          = with_br nl(member.birthday), 'Geburtstag: '
          = with_br nl(member.member_since), 'Mitglied seit: '
          = "Alter: #{member.age}#{with_br member.school, ', Klasse: '}".html_safe
