<h1>Mitglieder (<%= @members.count %>)</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>First name</th>
    <th>Birth name</th>
    <th>Street</th>
    <th>
      Phone<br />
      Mobile<br />
      Fax
    </th>
    <th>Email<br/>Email extern</th>
    <th>Birthday<br/>Member since</th>
    <th>School</th>
    <th>Gender</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.id %></td>
    <td><%= member.name %></td>
    <td><%= member.first_name %></td>
    <td><%= member.birth_name %></td>
    <td>
      <%= member.street %><br />
      <%= member.city %>
    </td>
    <td>
      <%= member.phone %>  <br/>
      <%= member.mobile %>  <br/>
      <%= member.fax %>
    </td>
    <td><%= member.email %><br/><%= member.email_extern %></td>
    <td><%= member.birthday %><br/><%= member.member_since %></td>
    <td><%= member.school %></td>
    <td><%= member.gender %></td>
    <td><%= member.active %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div class='actions'>
  <%= link_to 'Mitglied anlegen', new_member_path %>
</div>