<h1>Mitglieder (<%= @members.count %>)</h1>

<ul class='tabs'>
  <%= navigation_link_to 'Aktive', members_path %>
  <%= navigation_link_to 'Ehemalige', flagged_members_path('ehemalige') %>
  <%= navigation_link_to 'Alle', flagged_members_path('alle') %>
</ul>

<table class='system'>
  <tr>
    <th width=54></th>
    <th><%= sortable_column 'name,first_name', 'Name' %></th>
    <th><%= sortable_column 'created_at', 'Erstellt am' %></th>
    <th><%= sortable_column 'member_since', 'Mitglied seit' %></th>
  </tr>

<% @members.each do |member| %>
  <!--input class='fileupload' type='file' name='files' data-reload=true data-dropzone='#member-<%= member.id %>' data-method='PUT' data-url='<%= member_path(member) %>'-->

  <tr id='member-<%= member.id %>'>
    <td class='image-td'>
      <% if member.has_image? %>
        <img width=50 src='<%= member.file.url(:square) %>'>
      <% end %>
    </td>
    <td class='oneline'><%= link_to [member.name, member.first_name].join(' '), edit_member_path(member) %></td>
    <td>vor <%= time_ago_in_words member.created_at %></td>
    <td><%= member.member_since %></td>
  </tr>
<% end %>
</table>
