<h1>Mitglieder (<%= @members.count %>)</h1>

<ul class='ui menu'>
  <%= link_to_active 'Aktive', members_path, true %>
  <%= link_to_active 'Ehemalige', flagged_members_path('ehemalige'), true %>
  <%= link_to_active 'Alle', flagged_members_path('alle'), true %>
</ul>

<table id="members_table" class="ui celled sortable striped table">
  <thead><tr>
    <th></th>
    <th><%= sortable_column 'name,first_name', 'Name' %></th>
    <th><%= sortable_column 'created_at', 'Erstellt am' %></th>
    <th><%= sortable_column 'member_since', 'Mitglied seit' %></th>
  </tr></thead>

<% @members.each do |member| %>
  <!--input class='fileupload' type='file' name='files' data-reload=true data-dropzone='#member-<%= member.id %>' data-method='PUT' data-url='<%= member_path(member) %>'-->

  <tr id='member-<%= member.id %>'>
    <td>
      <% if member.has_image? %>
        <img width=50 src='<%= asset_url member.file.url(:square) %>' class="ui rounded image">
      <% end %>
    </td>
    <td class='oneline'><%= link_to [member.name, member.first_name].join(' '), edit_member_path(member) %></td>
    <td>vor <%= time_ago_in_words member.created_at %></td>
    <td><%= member.member_since %></td>
  </tr>
<% end %>
</table>
