<p>
  <h1 class="profile-name"><%= @member.first_name %> <%= @member.name %> (<%= @member.age %>)</h1>
</p>

<img class="profile-image" src="<%= @member.file.url(:square_300) %>">

<p>
  <h3 class="profile-info">Mitglied seit: <%= @member.member_since %> <% if @member.active %> (aktiv) <% end %></h3>
</p>

<p>
  <b>Projekte:</b>
  <ul>
  <% @member.actor_team_memberships.each do |team_membership| %>
    <%= team_membership.role %>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
