<img class="profile-image" src="<%= @member.file.url(:square_300) %>">

<h1 class="profile-name"><%= @member.full_name %> (<%= @member.age %>)</h1>
<h3 class="profile-info">Mitglied seit: <%= @member.member_since %> <% if @member.active %> (aktiv) <% end %></h3>

<ul class='tabs'>
  <li><a href='#rollen' data-toggle='tab'>Rollen (<%= @member.actor_team_memberships.length %>)</a></li>
  <li><a href='#hdk' data-toggle='tab'>Hinter den Kulissen (<%= @member.non_actor_team_memberships.length %>)</a></li>
</ul>

<div class='tab-content'>

  <div id='rollen'>
    <% @member.actor_team_memberships.each do |team_membership| %>
      <% project = team_membership.project %>
      <div class='actor'>

          <% if team_membership.role_image %>
            <a href='<%= project_path(project) %>'><img class='actor-image' src='<%= team_membership.role_image.file.url(:square) %>'></a>
          <% end %>

        <span class='member'><%= team_membership.role %></span>
        <span class='role'><%= link_to project.title, project %></span>

      </div>
    
    <% end %>
  </div>
  
  <div id='hdk'>
    <% @member.non_actor_team_memberships.each do |team_membership| %>
      <% 
        project = team_membership.project 
        team = team_membership.team
      %>
      
      <div class='team'>
        <div class='team-name'><%= team.name %><%= with_clamps_unless_nil(team_membership.role) %></div>
        <div class='team-project'>
          <%= link_to project.title, project %>
        </div>
        <% if team.has_image? %>
          <div class='team-image'>
            <a href='<%= project_path(project) %>'><img src='<%= team.file.url(:normal) %>'></a>
          </div>
        <% end %>
        


      </div>
      
    <% end %>
  </div>
  
  
  
</div>


<% content_for :actions do %>
  <%= navigation_link_to 'Mitglied bearbeiten', edit_member_path(@member) %>
<% end %>
