<%-
  meta(
    robots: 'noindex',
  )
%>
<%= render_breadcrumbs %>

<% if @previous or @next %>
  <div id='navigatable-nav'>
    <%= render_navigatable_nav(@previous, '&laquo;',  lambda {|i| project_member_path(@project, i) }, :full_name) %>
    <%= render_navigatable_nav(@next, '&raquo;',      lambda {|i| project_member_path(@project, i) }, :full_name) %>
  </div>
<% end %>

<% if @member.has_image? %>
  <img class="profile-image" src="<%= asset_url @member.file.url(:square_300) %>">
<% end %>

<h1 class="profile-name"><%= @member.full_name %></h1>

<div class='clearfix'></div>

<div class='ui top attached tabular menu'>
  <% if @member.actor_team_memberships.length > 0 %>
    <a href='#rollen' class="active item" data-tab="rollen">Rollen (<%= @member.actor_team_memberships.length %>)</a>
    <% if (hdk_length = @member.non_actor_team_memberships.length) > 0 %>
      <a href='#hdk' class="item" data-tab="hdk">Hinter den Kulissen</a>
    <% end %>
  <% else %>
    <% if (hdk_length = @member.non_actor_team_memberships.length) > 0 %>
      <a href='#hdk' class="active item" data-tab="hdk">Hinter den Kulissen</a>
    <% end %>
  <% end %>
  <a href='#chronik' class="item" data-tab="chronik">Chronik</a>
</div>

<% if @member.actor_team_memberships.length > 0 %>
  <div class='ui bottom active attached tab segment' data-tab="rollen">
    <%= render 'actor_team_memberships', member: @member %>
  </div>

  <div class='ui bottom attached tab segment' data-tab="hdk">
    <%= render 'hdk_with_image', team_memberships: @member.hdk_memberships_with_image %>
    <%= render 'hdk_without_image', groups: @member.hdk_memberships_without_image %>
  </div>
<% else %>
  <div class='ui bottom attached tab segment' data-tab="rollen">
    <%= render 'actor_team_memberships', member: @member %>
  </div>

  <div class='ui bottom active attached tab segment' data-tab="hdk">
    <%= render 'hdk_with_image', team_memberships: @member.hdk_memberships_with_image %>
    <%= render 'hdk_without_image', groups: @member.hdk_memberships_without_image %>
  </div>
<% end %>

<div class='ui bottom attached tab segment' data-tab="chronik">
  <%= render 'chronik' %>
</div>



<% content_for :actions do %>
  <%= link_to_active 'Mitglied bearbeiten', edit_member_path(@member), true %>
<% end %>
